body
  font-weight 500
  font-size 16px
  font-family 'Futura PT', sans-serif
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  color $black

*:before, *:after
  box-sizing border-box
  margin 0

.container
  max-width 1400px
  margin-right auto
  margin-left auto
  padding 0 15px
  +sm()
    width 100%
  +xs()
    width 100%

.row
    display flex

.centered
  margin-right auto
  margin-left auto


// display
.df
  display flex

.dif
  display inline-flex

.db
  display block

// flex
.jcsb
  justify-content space-between

.jcc
  justify-content center

.aic
  align-items center

.aifs
  align-items flex-start

.aife
  align-items flex-end

.fdc
  flex-direction column

.w100
  width 100%

// margin
.mra
  margin-right auto

.mla
  margin-left auto

// text

.tac
  text-align center

.ttu
  text-transform uppercase

.fz-0
  font-size 0 !important

.mt10
  margin-top 10px

.mt15
  margin-top 15px

.mt20
  margin-top 20px

.mt25
  margin-top 25px

.mt30
  margin-top 30px
