@font-face
  font-family 'Futura PT'
  src url('~assets/fonts/FuturaPT-Light.woff') format('woff2'),
      url('~assets/fonts/FuturaPT-Light.woff') format('woff')
  font-weight 300
  font-style normal

@font-face
  font-family 'Futura PT'
  src url('~assets/fonts/FuturaPT-Medium.woff2') format('woff2'),
      url('~assets/fonts/FuturaPT-Medium.woff') format('woff')
  font-weight 500
  font-style normal

@font-face
  font-family 'Futura PT'
  src url('~assets/fonts/FuturaPT-Demi.woff2') format('woff2'),
      url('~assets/fonts/FuturaPT-Demi.woff') format('woff')
  font-weight 600
  font-style normal

@font-face
  font-family 'Futura PT Book'
  src url('~assets/fonts/FuturaPT-Book.woff2') format('woff2'),
      url('~assets/fonts/FuturaPT-Book.woff') format('woff')
  font-weight normal
  font-style normal
