/* de-style.css v1.0.5 | MIT License | https://github.com/nicolas-cusan/destyle.css */
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}
body {
  margin: 0;
}
main {
  display: block;
}
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border: 0;
  border-top: 1px solid;
  margin: 0;
  clear: both;
}
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}
address {
  font-style: inherit;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  vertical-align: bottom;
}
embed,
object,
iframe {
  border: 0;
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  color: inherit;
  font: inherit;
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}
button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
}
legend {
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
::-webkit-input-placeholder {
  font: inherit;
}
:-ms-input-placeholder {
  font: inherit;
}
::-ms-input-placeholder {
  font: inherit;
}
::-moz-placeholder {
  font: inherit;
}
::placeholder {
  font: inherit;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption {
  text-align: left;
}
td,
th {
  vertical-align: top;
}
th {
  text-align: left;
  font-weight: bold;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
body {
  font-weight: 500;
  font-size: 16px;
  font-family: 'Futura PT', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #060608;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}
.container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 15px;
}
@media only screen and (min-width: 641px) and (max-width: 1020px) {
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    width: 100%;
  }
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.centered {
  margin-right: auto;
  margin-left: auto;
}
.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dif {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.db {
  display: block;
}
.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aifs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.aife {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.w100 {
  width: 100%;
}
.mra {
  margin-right: auto;
}
.mla {
  margin-left: auto;
}
.tac {
  text-align: center;
}
.ttu {
  text-transform: uppercase;
}
.fz-0 {
  font-size: 0 !important;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.svg-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}
.svg-fill {
  fill: currentColor;
  stroke: none;
}
.svg-up {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.svg-right {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.svg-down {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.svg-left {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 55px;
  font-size: 12px;
  color: #fff;
  background-color: $violet-light;
  border: 1px solid $violet-light;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.button:hover {
  background-color: #fff;
  color: $violet-light;
}
.button-violet-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 55px;
  padding: 0 10px;
  font-size: 12px;
  color: $violet-light;
  border: 1px solid $violet-light;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
.button-violet-border:hover {
  color: #fff;
  background-color: $violet-light;
}
.bottom-two-line {
  position: relative;
  overflow: hidden;
}
.bottom-two-line:after,
.bottom-two-line:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  will-change: transform;
  background-color: currentColor;
}
@media only screen and (max-width: 1600px) {
  .bottom-two-line:after,
  .bottom-two-line:before {
    bottom: 0;
  }
}
.bottom-two-line:after {
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.3s;
  transition: -webkit-transform 0.3s ease-in-out 0.3s;
  -o-transition: transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
}
.bottom-two-line:before {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bottom-two-line:hover:after {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bottom-two-line:hover:before {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out 0.3s;
  transition: -webkit-transform 0.3s ease-in-out 0.3s;
  -o-transition: transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s;
  transition: transform 0.3s ease-in-out 0.3s, -webkit-transform 0.3s ease-in-out 0.3s;
}
.bottom-two-line_white:after,
.bottom-two-line_white:before {
  background-color: #fff;
}
.separation {
  position: relative;
  margin-left: 60px;
}
.separation::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -30px;
  width: 1px;
  height: 15px;
  background-color: #e6e6e6;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.bottom-line {
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.bottom-line::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: $violet-light;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  -o-transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.bottom-line:hover {
  color: $violet-light;
}
.bottom-line:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.line-bottom {
  position: relative;
  padding-bottom: 5px;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.line-bottom::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.hover-link {
  position: relative;
  padding-bottom: 5px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}
.hover-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: $saffron;
  -webkit-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.hover-link:hover {
  color: $violet-light;
}
.hover-link:hover::before {
  background-color: #a696c8;
}
.page-hero {
  min-height: calc(100vh - 339px);
}
.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 45px;
  padding: 0 15px;
  font-weight: 300;
  font-size: 15px;
  color: #060608;
  line-height: 45px;
  border: solid 1px $violet-light;
  -webkit-transition: border-color 0.2s ease-in-out;
  -o-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}
.input::placehoder {
  color: $violet-light;
}
.input:active,
.input:focus {
  border-color: $saffron;
}
.label {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.54;
}
.label-text {
  margin-bottom: 5px;
}
.title {
  margin-left: 0px;
  font-size: 36px;
  font-weight: 900;
  letter-spacing: 1px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .title {
    margin-left: calc(0 * 1px + (-1 - 0) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .title {
    margin-left: 0px;
  }
}
@media (min-width: 1600px) {
  .title {
    margin-left: -1px;
  }
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .title {
    font-size: calc(36 * 1px + (52 - 36) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .title {
    font-size: 36px;
  }
}
@media (min-width: 1600px) {
  .title {
    font-size: 52px;
  }
}
@media only screen and (max-width: 1020px) {
  .title {
    margin-left: 0;
    letter-spacing: normal;
  }
}
.title-lg {
  margin-left: -2px;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: 5px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .title-lg {
    margin-left: calc(-2 * 1px + (-7 - -2) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .title-lg {
    margin-left: -2px;
  }
}
@media (min-width: 1600px) {
  .title-lg {
    margin-left: -7px;
  }
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .title-lg {
    font-size: calc(50 * 1px + (100 - 50) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .title-lg {
    font-size: 50px;
  }
}
@media (min-width: 1600px) {
  .title-lg {
    font-size: 100px;
  }
}
@media only screen and (max-width: 1020px) {
  .title-lg {
    margin-left: -3px;
    font-size: 34px;
    letter-spacing: 2.5px;
  }
}
@media only screen and (max-width: 640px) {
  .title-lg {
    margin-left: -1px;
    letter-spacing: 1px;
  }
}
@media only screen and (max-width: 1020px) and (min-width: 639px) and (max-width: 1019px) {
  .title-lg {
    font-size: calc(34 * 1px + (50 - 34) * (100vw - 640 * 1px) / (1020 - 640) );
  }
}
@media only screen and (max-width: 1020px) and (max-width: 639px) {
  .title-lg {
    font-size: 34px;
  }
}
@media only screen and (max-width: 1020px) and (min-width: 1020px) {
  .title-lg {
    font-size: 50px;
  }
}
.page-top-margin {
  margin-top: 20px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .page-top-margin {
    margin-top: calc(20 * 1px + (35 - 20) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .page-top-margin {
    margin-top: 20px;
  }
}
@media (min-width: 1600px) {
  .page-top-margin {
    margin-top: 35px;
  }
}
.container-margin {
  margin-top: 60px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .container-margin {
    margin-top: calc(60 * 1px + (80 - 60) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .container-margin {
    margin-top: 60px;
  }
}
@media (min-width: 1600px) {
  .container-margin {
    margin-top: 80px;
  }
}
.lg-margin {
  margin-top: 50px;
}
@media (min-width: 1019px) and (max-width: 1599px) {
  .lg-margin {
    margin-top: calc(50 * 1px + (80 - 50) * (100vw - 1020 * 1px) / (1600 - 1020) );
  }
}
@media (max-width: 1019px) {
  .lg-margin {
    margin-top: 50px;
  }
}
@media (min-width: 1600px) {
  .lg-margin {
    margin-top: 80px;
  }
}

